.product-button > span:before {
  content: "Copiar PIX";
  color: #1a1a1a;
  font-size: 16px;
  transition: opacity 0.2s ease-in;
}

.product-button:focus > span:before {
  content: "PIX copiado!";
  color: rgb(75, 203, 69);
  transition: opacity 0.2s ease-in;
}

.product-button > svg {
  stroke: #21222c;
}

.product-button:focus > svg {
  stroke: rgb(75, 203, 69);
}
