body {
  background-color: #21222c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #21222c;
}

nav .loading {
  width: 4rem;
  padding: 0.5rem;
  padding-top: 0;
  top: 0;
}

nav > h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: white;
  font-weight: 100;
  margin: 0;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}

.nav-bottom {
  top: revert;
  bottom: 0;
}

.nav-fake {
  height: 100px;
  opacity: 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: slideUp 0.4s ease-in-out;
  animation-delay: calc(0 * 0.2s);
  animation-fill-mode: forwards;
  border-radius: 12px;
  color: #ffffff;
  opacity: 0.01;
  padding: 34px 36px 28px;
  width: 312px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 0 0 1rem;
    border-radius: 0;
    padding-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  main {
    overflow-y: scroll;
    height: calc(100% - 150px);
  }
}

.card.is-highlight {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: -4px;
}

.Badge.is-highlightBadge {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
}

.Badge {
  align-self: center;
  border-radius: 4px;
  display: inline-flex;
  height: 18px;
  overflow: hidden;
  padding: 2px 6px;
  position: relative;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1rem;
}

.Badge.is-highlightBadge:before {
  animation: badgeHighlightShimmer 3.5s;
  animation-delay: 1.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.18) 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.18) 75%,
    rgba(255, 255, 255, 0)
  );
  content: "";
  display: block;
  height: 90px;
  left: -60%;
  position: absolute;
  top: -150px;
  transform: rotate(-25deg);
  width: 200px;
}

.Badge.is-highlightBadgeBig:before {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0)
  );
  animation-delay: 3s;
  transform: rotate(-15deg);
  left: -200%;
  width: 2000px;
}

.banner {
  border-radius: 0;
  width: 100%;
  height: 30px;
}

.banner > span {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: #4e547c;
  font-size: 18px;
  font-weight: 200;
}

.green {
  color: rgb(75, 203, 69);
}

.yellow {
  color: f1fa8c;
}

.magenta {
  color: #ff076ae0;
  opacity: 0.8;
}

.card-one {
  animation-delay: calc(1 * 0.2s);
}

.card-two {
  animation-delay: calc(2 * 0.2s);
}

.product-img {
  border-radius: 6px;
  margin-bottom: 16px;
  max-width: 150px;
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  flex-direction: column;
  margin: 0px;
}

.product-description {
  opacity: 0.7;
  font-size: 14px;
  margin: 0;
}

.product-box-price {
  margin-top: 8px;
  margin-bottom: 0;
}

.product-from {
  opacity: 0.8;
  font-size: 16px;
  margin: 0;
  text-decoration: line-through;
  margin-bottom: 8px;
}

.product-price {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
}

.product-box-discount {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 1rem;
}

.product-discount {
  font-size: 14px;
  margin: 0;
  background-color: #ff076a;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

.product-box-button {
  display: flex;
  justify-content: center;
}

.product-button {
  background-color: rgb(75, 203, 69);
  border-color: rgb(75, 203, 69);
  color: #1a1a1a;
  border-radius: 6px;
  height: 44px;
  margin-top: 16px;
  position: relative;
  transition: filter 0.2s ease-in;
  width: 100%;
  font-size: 16px;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.1s ease-in, transform 0.08s ease-in;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  max-width: 400px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-button:hover {
  filter: brightness(1.2);
}

.product-button:focus {
  box-shadow: none;
  /* border-color: rgb(75, 203, 69); */
  background-color: transparent;
}

.product-button > span:before {
  content: "Copiar PIX";
  color: #1a1a1a;
  font-size: 16px;
  transition: opacity 0.2s ease-in;
}

.product-button:focus > span:before {
  content: "PIX copiado!";
  color: rgb(75, 203, 69);
  transition: opacity 0.2s ease-in;
}
.product-button > svg {
  stroke: #21222c;
}

.product-button:focus > svg {
  stroke: rgb(75, 203, 69);
}

.product-button:focus:after {
  background-color: transparent;
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 0 0 0.2rem rgb(75, 203, 69);
  left: 0;
  margin: -4px;
  opacity: 1;
  right: 0;
  top: 0;
}

.product-button:after {
  content: "";
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease-in;
}

.product-button:active {
  transform: scale(0.98);
  outline: none;
  background-color: transparent;
}

.loading {
  animation: jump 1.5s infinite;
  animation-timing-function: jump-start;
  width: 15vmax;
}

.faden {
  opacity: 0.25;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.small {
  font-size: 12px;
  font-weight: 400;
}

.medium {
  font-size: 16px;
  font-weight: 400;
}

stripe-pricing-table {
  width: 100%;
}
