@keyframes jump {
  10% {
    transform: rotate(15deg) rotateY(10deg);
  }
  20% {
    transform: rotate(-10deg) rotateY(-10deg);
  }
  30% {
    transform: rotate(5deg) rotateY(5deg);
  }
  40% {
    transform: rotate(-5deg) rotateY(-5deg);
  }
  50% {
    transform: rotate(0deg) rotateY(0deg);
  }
  100% {
    transform: rotate(0deg) rotateY(0deg);
  }
}

.navigator {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #21222c;
}

.loading {
  width: 5rem;
  padding: 0.5rem;
  padding-top: 0;
  top: 0;
  animation: jump 1.5s infinite;
  animation-timing-function: jump-start;
}

.navigator > h1 {
  font-size: 2rem;
  padding-top: 0.5rem;
  color: white;
  font-weight: 100;
  margin: 0;
}

.nav-bottom {
  top: revert;
  bottom: 0;
  left: 0;
}

.nav-fake {
  height: 30px;
  opacity: 0;
}

.green {
  color: rgb(75, 203, 69);
}
